<!DOCTYPE html>
<html>
    <head>
        <title>signup</title>
    </head>

    <body>
        <h1>Sign up</h1>
        <form method='post'>
            <label for='uname'>Username &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp</label>
            <input type='text' id='uname' name='username' width=20px value={{n}} />{{username_error}}<br>
            <label for='pword'>Password &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp</label>
            <input type='password' id='pword' name='pwd' width=20px />{{password_error}}<br>
            <label for='vpword'>Verify Password</label>
            <input type='password' id='vpword' name='vpwd' width=20px />{{vpassword_error}}<br>
            <label for='em'>Email (optional)</label>
            <input type='text' id='em' name='email' width=20px/ value={{e}}>{{email_error}}<br>
            <input type='submit'><br>  
        </form>
    </body>
</html>